@media (max-width: 1024px) {
    .gallery .four-columns,
    .gallery .grid-sizer-four-columns {
        width: 50%;
    }
    .caption-heading h4 span {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    .widget:first-child {
        margin-top: 100px;
    }
    .serviceBox h2 span {
        letter-spacing: 5px;
        font-size: 22px;
    }
    #owl-clients {
        margin-top: 50px;
    }
    #text-separator-testimonials h3 {
        text-align: center;
        margin-bottom: 50px;
    }
    .IntroBoxes {
        height: 250px;
    }
}

@media (max-width: 900px) {
    .navbar-nav>li>a {
        letter-spacing: 1px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #f9c1ae;
    }
}

@media (max-width: 768px) {
    .IntroBoxes {
        height: 200px;
        opacity: 0.5;
        color: #bd6700;
    }
    .ThickBorder .bottom,
    .ThickBorder .left,
    .ThickBorder .right {
        display: none;
    }
    .serviceBox h2 span {
        letter-spacing: 5px;
        font-size: 18px;
    }
    .textOverlay {
        padding-bottom: 100px;
        padding-top: 100px;
        margin-left: 0;
        z-index: 6;
    }
    #portfolio .captionWrapper .valign {
        padding-top: 130px;
    }
    .preloaderLogo {
        min-width: 100px;
        max-width: 100px;
        width: 100px;
    }
    .ip-header {
        min-height: 120px;
    }
    .affix .navbar-collapse {
        background: 0 0;
    }
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: 100%;
        top: 35px;
        position: relative;
    }
    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:hover,
    .navbar-default .navbar-nav>.open>a:focus {
        color: #f9c1ae;
    }
    .navbar-nav>li>.dropdown-menu {
        text-align: center;
    }
    .memberDescription {
        text-align: center;
    }
    .memberParagraph {
        padding-right: 0;
    }
    .clientsIntro {
        text-align: center;
    }
    #text-separator,
    #text-separator-clients,
    #text-separator-testimonials,
    #text-separator-timers {
        padding-left: 15px;
    }
    .text-separator-title {
        text-align: center;
    }
    .tableWrapper {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .gallery .gallery-inner,
    .gallery .grid-sizer {
        width: 50%;
    }
    .singleProjectInfo ul {
        border-left: 0;
        text-align: center;
    }
    #team .container {
        padding-bottom: 0px;
    }
    #countdown .countdown-amount {
        font-size: 30px;
    }
    #countdown .countdown-section {
        border-left: none;
    }
    .blogPost,
    .grid-sizer-blog-3 {
        width: 50%;
    }
    .gallery .four-columns,
    .gallery .grid-sizer-four-columns {
        width: 50%;
    }
    .EcommerceNavbarRow .PaddingVertical30 {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .EcommerceLogo {
        text-align: center;
        display: inline;
    }
    .EcommerceLogo h2 {
        font-size: 32px;
    }
    .CartDropdown {
        left: 50%;
        right: auto;
        text-align: center;
        transform: translate(-50%, 0);
    }
    #accordion-filters {
        margin-bottom: 30px;
    }
    .gallery-ecommerce .grid-sizer-three-columns,
    .gallery-ecommerce .three-columns {
        width: 50%;
    }
    .navbar-right .dropdown-menu {
        left: -100px;
    }
    .NavbarEcommerceBottomWrapper .navbar-nav>li>a {
        letter-spacing: 0;
    }
    #team-carousel-new .owl-buttons .owl-prev {
        left: -20px;
    }
    #team-carousel-new .owl-buttons .owl-next {
        right: -20px;
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-collapse {
        border-color: #e7e7e7;
        background: #f9c1ae;
        text-align: center;
        width: 70%;
        float: right;
    }
    .navbar-default .navbar-collapse {
        background: #fff;
    }
    .navbar-default .navbar-nav>li>a {
        color: #f9c1ae;
    }
}

@media screen and (max-width: 640px) {
    h1 {
        font-size: 36px;
        letter-spacing: 10px;
    }
    h2 {
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 8px;
    }
    .introLogo {
        width: 80px;
    }
    .serviceBox h2 span {
        padding: 0;
        border: 0;
    }
    #singlePageIntro .container {
        padding: 30px;
    }
    .tableWrapper {
        padding: 30px;
        padding-bottom: 50px;
    }
    .new-footer h3 {
        font-size: 45px;
        line-height: 0.7;
        font-weight: 400;
    }
    #about .AboutIcon2 img {
        margin-top: 30px;
    }
    .portfolioFilters {
        display: none;
    }
    .smolimg img {
        width: 100%;
        float: left;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 20px;
        letter-spacing: 10px;
    }
    .navbar-default {
        padding-left: 0;
        padding-right: 0;
    }
    .ServiceWrapperTitle {
        display: none;
    }
    .ServiceTitleMobile {
        display: block;
        margin-bottom: 20px;
    }
    .space {
        margin-top: 1px;
    }
}

@media screen and (max-width: 600px) and (orientation: landscape) {
    #intro .separator {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100px;
        max-width: 100px;
    }
    .ip-logo img {
        opacity: 0;
    }
}

@media screen and (max-width: 480px) {
    .gallery-ecommerce .grid-sizer-three-columns,
    .gallery-ecommerce .three-columns {
        width: 100%;
    }
    .gallery .grid-sizer-two-columns,
    .gallery .two-columns {
        width: 100%;
    }
    .navbar-toggle i.fa.fa-bars {
        font-size: 30px;
        color: #fff;
    }
    nav.affix i.fa.fa-bars {
        color: #f5c1ad;
    }
    .topLine {
        padding: 20px;
    }
    h1 {
        font-size: 24px;
        letter-spacing: 6px;
    }
    h2 {
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    h4 {
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .sectionIntro h2 span {
        padding: 12.5px 25px;
        border: solid 4px #000;
    }
    .portfolioIntro h2 span {
        padding: 12.5px 25px;
    }
    .BorderedItem {
        border: 10px solid transparent;
    }
    #intro .separator {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #intro .separator {
        width: 100px;
        max-width: 100px;
    }
    #intro p {
        font-size: 12px;
    }
    #intro {
        height: 60vh;
    }
    .navbar-default {
        padding-left: 0;
        padding-right: 0;
    }
    #filters .btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .gallery .gallery-inner,
    .gallery .grid-sizer {
        width: 100%;
    }
    .serviceBox {
        padding: 20px;
    }
    .work-gallery .gallery-inner .caption {
        opacity: 1;
    }
    .skincare-gallery .gallery-inner:active .caption {
        opacity: 1;
    }
    .skincare-gallery .valign {
        top: 50%!important;
    }
    #team .gallery-inner:active .caption {
        opacity: 1;
    }
    #team .gallery-inner .caption {
        top: 10px;
        width: 95%;
        height: 96.5%;
    }
    #team-carousel-new .owl-buttons .owl-prev {
        left: -10px;
    }
    #team-carousel-new .owl-buttons .owl-next {
        right: -10px;
    }
    .backstretch {
        height: 60vh;
        margin-top: auto;
    }
    .backstretch img {
        max-width: 100%!important;
        width: 100%!important;
        height: 100%!important;
        max-height: 55%!important;
        left: 0!important;
        background-size: contain!important;
    }
}

@media screen and (max-width: 480px) {
    .gallery .four-columns,
    .gallery .grid-sizer-four-columns {
        width: 100%;
    }
    #text-separator-clients h3 span {
        padding: 0;
        border: none;
    }
    .serviceBox {
        width: 100%;
    }
    #text-separator-testimonials h3 span {
        padding: 0;
        border: none;
    }
    #about .container {
        padding-top: 10px;
    }
    .textSepLogo {
        display: none;
    }
}

@media screen and (max-width: 390px) {
    .blogPost,
    .grid-sizer-blog-3 {
        width: 100%;
    }
    .blogPost2,
    .grid-sizer-blog-2 {
        width: 100%;
    }
    .tableWrapper {
        padding: 10px;
        padding-bottom: 30px;
    }
    .listwrapper {
        width: 100%;
    }
    #about .container {
        padding-top: 10px;
    }
}


/* Custom CSS */